@charset "utf-8";
/*
| Fonts
+------------------------------*/
@font-face {
    font-family: 'gotham_prolight';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/gothaprolig-webfont.eot');
    src: url('/fonts/gothaprolig-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/gothaprolig-webfont.woff') format('woff'),
    url('/fonts/gothaprolig-webfont.ttf') format('truetype'),
    url('/fonts/gothaprolig-webfont.svg#gotham_prolight') format('svg');
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*
| Snipet clear
+------------------------------*/
.clear {
    width: 100%;
    height: 0;
    clear: both;
    display: block;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

/*
| Basic styles
+------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    color: #5a6476;
    font-family: 'gotham_prolight';
    line-height: 1.2;
}

h1 {

}

p {
    padding: 0 0 10px;
}

a {
    color: #33415d;
}

a:hover {
    text-decoration: none;
}

input[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
textarea {
    font-family: arial, "Trebuchet MS";
}

strong,
b {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

table p {
    padding: 0 !important;
}

.wrapper {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    background: url(/img/bg_forum.jpg) 50% 0% #f7f7f7 fixed no-repeat;
    background: #f7f7f7 \0/;
    background-size: cover;
    position: relative;
}

.all {
    margin: 120px 20px 20px;
    width: auto;
}

/* upper part under the heading */
div.my-forum-up {
    margin: 110px 0 20px;
}

div.my-forum-up h2 {
    color: #5a6476;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'gotham_prolight';
}

div.my-forum-up h1 {
    color: #5a6476;
    font-size: 55px;
    text-transform: uppercase;
    font-family: 'gotham_prolight';
}

div.my-forum-up .ava {
    float: left;
    margin: 10px 0 0;
}

div.my-forum-up .right {
    margin-left: 63px;
    font-family: arial;
    font-size: 12px;
}

div.my-forum-up .name {
    color: #33415d;
}

div.my-forum-up .date {
    color: #b5bdcc;
    margin-left: 10px;
}

div.my-forum-up .crumbs {
    color: #e45f41;
    margin-top: 5px;
    font-family: arial;
    font-size: 12px;
}

div.my-forum-up .crumbs a {
    margin-right: 4px;
    color: #e45f41;
    font-family: arial;
    font-size: 12px;
}

div.my-forum-up .crumbs a + a {
    margin-left: 4px;
}

/* The upper part of the left block (threads, the latest posts) */
div.column-forum {
    margin-right: 340px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 0;
    background: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div.column-forum.column-forum--full-width {
    margin-right: 0;
    margin-bottom: 40px;
    overflow: hidden;
}

    div.column-forum .up {
        float: left;
        width: 100%;
        border-bottom: 1px solid #c0bab8;
        padding: 15px 20px 15px;
        position: relative;
        color: #5a6476;
        font-size: 12px;
        font-family: "gotham_prolight";
        text-transform: uppercase;
    }

        div.column-forum .up a {
            color: #5a6476;
            text-decoration: none;
        }

        div.column-forum .up ul {}

        div.column-forum .up ul:after {
            content: '';
            display: block;
            width: 100%;
            height: 0;
            clear: both;
        }

            div.column-forum .up ul li {
                float: left;
                white-space: nowrap;
            }
                div.column-forum .up ul li + li:last-child {
                    float: right;
                    text-align: right;
                }

                /* ie 8 */
                div.column-forum .up ul li.last-child{
                    float: right;
                    text-align: right;
                }
                /* end ie 8*/

                div.column-forum .up select {
                    font-size: 12px;
                    margin: 0 0 0 5px;
                    color: #fe2500;
                }

    /* .up modification */
    div.column-forum .up.up--column-supplier li:nth-child(1) {
        width: 20%;
    }
    div.column-forum .up.up--column-supplier li:nth-child(2) {
        width: 38%;
    }
    div.column-forum .up.up--column-supplier li:nth-child(3) {
        width: 28%;
    }
    div.column-forum .up.up--column-supplier li:nth-child(4) {
        width: 14%;
        text-align: center;
    }
    /* ie 8 */
    div.column-forum .up.up--column-supplier li.up-item-1{
        width: 20%;
    }
    div.column-forum .up.up--column-supplier li.up-item-2{
        width: 38%;
    }
    div.column-forum .up.up--column-supplier li.up-item-3{
        width: 28%;
    }
    div.column-forum .up.up--column-supplier li.up-item-4{
        width: 14%;
        text-align: center;
    }
    /* end ie 8*/

    div.column-forum .up.up--list-forums li:nth-child(1){
        float: left;
        width: 100%;
        padding-right: 370px;
    }
    div.column-forum .up.up--list-forums li:nth-child(2){
        float: right;
        margin-left: -370px;
        margin-right: 230px;
        width: 140px;
        padding: 0 10px;
    }
    div.column-forum .up.up--list-forums li:nth-child(3){
        margin-left: -370px;
        width: 220px;
        text-align: left;
    }
    /* ie 8 */
    div.column-forum .up.up--list-forums li.up-item-1{
        float: left;
        width: 100%;
        padding-right: 370px;
    }
    div.column-forum .up.up--list-forums li.up-item-2{
        float: right;
        margin-left: -370px;
        margin-right: 230px;
        width: 140px;
        padding: 0 10px;
    }
    div.column-forum .up.up--list-forums li.up-item-3{
        margin-left: -370px;
        width: 220px;
        text-align: left;
    }
    /* end ie 8 */

    div.column-forum .up.up--last-message li:last-child{
        margin-left: -370px;
        width: 220px;
        text-align: left;
    }
    /* ie 8 */
    div.column-forum .up.up--last-message li.last-child{
        margin-left: -370px;
        width: 220px;
        text-align: left;
    }
    /* end ie 8 */

/* styles forum posts */
div.column-forum .block {
    clear: both;
    margin: 0 20px 20px;
    font-family: arial;
    padding: 20px 0 0;
}

div.column-forum .block + .block {
    border-top: 1px solid #cbced4;
}

div.column-forum .block .left {
    float: left;
    font-size: 12px;
    width: 135px;
}

div.column-forum .block .left .ava {
    margin: 0 0 10px;
}

div.column-forum .block .left .name {
    margin-bottom: 5px;
}

div.column-forum .block .left .date {
    color: #b5bdcc
}

div.column-forum .block .right {
    font-size: 14px;
    margin-left: 150px;
}

div.column-forum .block .title {
    margin-bottom: 10px;
}

div.column-forum .block .comment-text {
    margin-bottom: 10px;
}

div.column-forum .block .comment-panel {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
}

div.column-forum .block .link-comment {
    background: #e9eaeb;
    font-size: 12px;
    margin: 0 color : #727a89;
    padding: 5px 10px;
    text-decoration: underline;
    cursor: pointer;
    float: right;
}

div.column-forum .block .link-comment:hover {
    text-decoration: none;
}

div.column-forum .block blockquote {
    padding: 10px 15px 0;
    color: #5a6476;
    background: #e9eaeb;
    margin-left: 0;
    margin-bottom: 25px;
}

    div.column-forum .block blockquote strong {
        font-weight: bold;
        margin: 0 0 5px;
    }

/* upload files to the comments */
div.column-forum .block .attached-post-files + .link-comment {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.attached-post-files {
    display: block;

    padding: 5px 5px 0;
    margin: 0 115px 0 0;
    width: auto;
}

    .attached-post-files .btn-choose {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
    }

        .attached-post-files .btn-choose input {
            display: block;
            width: 300%;
            height: 300%;
            background: #f00;
            position: absolute;
            top: -30px;
            left: -30px;
            cursor: pointer;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            opacity: 0;
        }

    .attached-post-files > span {
        display: block;
        margin: 5px 0 8px 8px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
    }

.attached-files-list {
    display: table;
    min-width: 50%;
    max-width: 100%;
    background: #F5F5F5;
}

    .attached-files-list li {
        display: table-row;
    }

    .attached-files-list li:hover {
        background: #FAF9F5;
    }

        .attached-files-list li div {
            height: 30px;
            display: table-cell;
            padding: 5px 8px;
            font-size: 12px;
            vertical-align: middle;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        .attached-files-list li div:first-child {
            max-width: 500px;
            overflow: hidden;
        }

            .attached-files-list li div:first-child a {
                overflow: hidden;
                display: inline-block;
                max-width: 100%;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        .attached-files-list li div:last-child {
            text-align: right;
            width: 70px;
        }

.fileinput-button {
    padding: 10px 0 0;
}

    .fileinput-button .progress {
        font-size: 12px;
        line-height: 32px;
        float: left;
        display: inline-block;
        margin: 0 0 0 10px;
    }

.upload-error {
    display: none;
    padding: 10px;
    border: 1px solid #ebccd1;
    color: #a94442;
    background: #f2dede;
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

    .upload-error.active {
        display: inline-block;
    }

div.column-forum .block .link-comment.active {
    background: #db2a02;
    color: #fff;
}

div.column-forum .block .b-comment {
    position: relative;
    float: right;
    width: 100%;
    margin: 5px 0 0;
}

    div.column-forum .block .b-comment .close {
        background: url(/img/close.png) no-repeat;
        width: 15px;
        height: 15px;
        display: block;
        float: right;
        margin: 10px 20px 10px 0;
    }

div.column-forum .block .b-form-comment {
    margin: 0;
    float: left;
    width: 100%;
    margin-top: 0px;
    position: relative;
    padding: 15px 0 0;
}

div.column-forum .block textarea {
    border: 1px solid #cbced4;
    height: 160px;
    padding: 10px;
    width: 100%;
    resize: vertical;
    font-size: 14px;
}

div.column-forum .block .b-comment .left {
    font-size: 12px;
}

div.column-forum .block .button {
    float: left;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

    div.column-forum .block .button .btn {
        text-decoration: underline;
        color: #fff;
        border: none;
        font-size: 12px;
        cursor: pointer;
        padding: 7px 15px;
        background: #db2a02;
    }

    div.column-forum .block .button .btn:hover {
        text-decoration: none;
    }

/* theme styles Forum */
div.column-forum .row {
    float: left;
    font-family: arial;
    width: 100%;
    position: relative;
    color: #5a6476;
    font-size: 15px;
    padding: 20px;
}

div.column-forum .row + .row {
    border-top: 1px solid #cbced4;
}

div.column-forum .row:nth-of-type(odd) {
    background: #f8f9f9;
}

    div.column-forum .row .title-theme {
        float: left;
        width: 100%;
        padding-right: 370px;
        color: #757f8e;
        font-size: 24px;
    }

    div.column-forum .row .title-theme.title-theme__width-auto {
        float: none;
        width: auto;
        padding-right: 0;
    }

        div.column-forum .row .title-theme > a {
            color: #757f8e;
            font-size: 24px;
            text-decoration: none;
        }

        div.column-forum .row .title-theme ul {
            background: url(/img/ygl-theme.png) 0 0 no-repeat;
            padding-top: 2px;
            margin-top: 3px;
            margin-left: 20px;
            padding-left: 15px;
        }

            div.column-forum .row .title-theme ul li {
                background: url(/img/list-theme.png) 0 8px no-repeat;
                padding-left: 9px;
                margin-right: 7px;
                margin-bottom: 5px;
                font-size: 14px;
                display: inline-block;
                vertical-align: top;
            }

                div.column-forum .row .title-theme ul li a {
                    color: #e45f41;
                }

        div.column-forum .row .title-theme h2 {
            font-size: 18px;
        }

            div.column-forum .row .title-theme h2 a {
                color: #e45f41;
            }

        div.column-forum .row .title-theme small {
            font-size: 12px;
            color: #b3bece;
        }

            div.column-forum .row .title-theme small span {
                color: #283f5e;
            }

    div.column-forum .row .title-theme.title-theme__width-auto + .additional-information {
        float: none;
        margin-left: 0;
        padding: 10px 0 0;
    }
    div.column-forum .row .additional-information {
        width: 370px;
        float: right;
        margin-left: -370px;
    }
        div.column-forum .row .date {
            float: left;
            width: 140px;
            margin-top: 10px;
            padding: 0 10px;
        }

        div.column-forum .row .people {
            float: right;
            width: 220px;
        }

            div.column-forum .row .people .ava {
                float: left;
            }

            div.column-forum .row .people .right {
                margin-left: 63px;
                font-family: arial;
                font-size: 12px;
            }

                div.column-forum .row .people .theme {
                    margin-bottom: 4px;
                    margin-top: 4px;
                }

                    div.column-forum .row .people .theme a {
                        color: #e45f41;
                        white-space: nowrap;
                        overflow: hidden;
                        -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: inline-block;
                        width: 100%;
                    }

                div.column-forum .row .people .name {
                    color: #33415d;
                }

                div.column-forum .row .people .name.name-margin_top {
                    margin-top: 10px;
                    display: inline-block;
                    color: #33415d;
                }

                div.column-forum .row .people .date {
                    color: #b5bdcc;
                    margin: 0px;
                    padding: 0;
                }

div.column-forum .row.row--column-supplier {

}

    div.column-forum .row.row--column-supplier .title-theme {
        width: 100%;
        padding-right: 115px;
    }

    div.column-forum .row.row--column-supplier .date {
        width: 105px;
        float: left;
        margin-left: -105px;
        text-align: center;
    }

    div.column-forum .row.row--column-supplier .date .vis-800 {
        text-transform: capitalize;
        margin: 0 3px 0 0;
    }

/* table forum */
.table-box {
    display: table;
    padding: 0 20px 20px;
    width: 100%;
    max-width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle;
    border-bottom: 1px solid #caced5;
    position: relative;
}

.table-box.table-box--column-supplier {

}

.table-box.table-box--column-supplier .table-cell:nth-child(1) {
    width: 20%;
}

.table-box.table-box--column-supplier .table-cell:nth-child(2) {
    width: 38%;
}

.table-box.table-box--column-supplier .table-cell:nth-child(3) {
    width: 28%;
}

.table-box.table-box--column-supplier .table-cell:nth-child(4) {
    width: 14%;
    position: relative;
    text-align: center;
}
/* ie 8 */
.table-box.table-box--column-supplier .table-cell.table-cell-item-1 {
    width: 20%;
}
.table-box.table-box--column-supplier .table-cell.table-cell-item-2 {
    width: 38%;
}
.table-box.table-box--column-supplier .table-cell.table-cell-item-3 {
    width: 28%;
}
.table-box.table-box--column-supplier .table-cell.table-cell-item-4 {
    width: 14%;
    position: relative;
    text-align: center;
}
/* end ie 8 */

.table-box--column-supplier h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.table-box--column-supplier h2 a {
    color: #556477;
    font-size: 18px;
    text-transform: uppercase;
}

.table-box--column-supplier a {
    font-size: 14px;
    color: #fd2500;
}

.table-box--column-supplier address {
    display: block;
}

.table-box--column-supplier .btn-add-comment {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #db2a02;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 7px 15px;
    margin: 0;
    vertical-align: top;
}

address {
    font-size: 14px;
    color: #556477;
}

address strong {
    color: #556477;
}

address a {
    color: #fd2500;
}

/* right column forum*/
div.column-forum-right {
    float: right;
    width: 320px;
}

div.column-forum-right .btn-new-theme {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: #db2a02;
    display: block;
    text-align: center;
    padding: 22px 0;
    text-transform: uppercase;
}

div.column-forum-right .b-last-themes {
    background: rgba(255, 255, 255, .7) ;
    background: #eee \0/;
    overflow: hidden;
    padding: 0 0 20px;
}

div.column-forum-right .b-last-themes .title {
    color: #5a6476;
    border-bottom: 1px solid #c0bab8;
    font-size: 12px;
    width: 100%;
    padding: 20px 20px 15px;
    background: #fff;
    position: relative;
}

div.column-forum-right .b-last-themes .block {
    overflow: hidden;
    width: auto;
    padding: 15px 0;
    margin: 0 20px;
}

div.column-forum-right .b-last-themes .block + .block {
    border-top: 1px solid #c0bab8;
}

/* last message */
div.column-forum-right .b-last-themes .block .ava {
    float: left;
}

div.column-forum-right .b-last-themes .block .right {
    margin-left: 63px;
    font-family: arial;
    font-size: 12px;
}

div.column-forum-right .b-last-themes .block .name {
    color: #33415d;
}

div.column-forum-right .b-last-themes .block .date {
    color: #b5bdcc;
    margin-left: 10px;
}

div.column-forum-right .b-last-themes .block .theme {
    margin-bottom: 4px;
    margin-top: 10px;
}

div.column-forum-right .b-last-themes .block .theme a {
    color: #e45f41;
}

div.post-anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

/* pagination */
.pagination {
    clear: both;
    text-align: center;
    display: block;
    margin: 0 auto 20px;
    padding: 5px 0;
}

.pagination li {
    display: inline-block;
    margin: 0 8px;
}

/* Alert (error, info, success) */
.alert-block {
    font-size: 14px;
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
    color: #317083;
    background: #d9edf7;
    border: 1px solid #bce8f1;
}

.alert-block p {
    padding-bottom: 5px;
}

.alert-block p:last-child {
    padding-bottom: 0;
}

.alert-block.alert-block__error {
    color: #a94442;
    background: #f2dede;
    border-color: #ebccd1;
}

.alert-block.alert-block__success {
    color: #3c763d;
    background: #dff0d8;
    border-color: #d6e9c6;
}

/* Rating */
.rating {

}

.rating h3 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.rating .customer-rating {
    margin-bottom: 20px;
}

.rating .customer-rating:last-of-type {
    margin-bottom: 0;
}

.customer-rating {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 155px;
    width: 165px \0/;
    height: 22px;
    overflow: hidden;
    background: url(/img/rating-star-ico.png) repeat-x 0 0;
}

.customer-rating:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.customer-rating-value {
    background: url(/img/rating-star-ico.png) repeat-x 0 -22px;
    height: 100%;
    display: inline-block;
    float: left;
    vertical-align: top;
}

.customer-rating.customer-rating-edit {

}

.customer-rating.customer-rating-edit .customer-rating-value {
    width: 33px;
    background: none;
    cursor: pointer;
}

.customer-rating.customer-rating-edit .customer-rating-value:last-child {
    margin: 0;
    width: 23px;
}

.customer-rating.customer-rating-edit .customer-rating-value.hover,
.customer-rating.customer-rating-edit .customer-rating-value:hover {
    background: url(/img/rating-star-ico.png) repeat-x 0 -22px;
}

/* Block comments for contractor */
.main-supplier-comment {
    padding: 0 20px 20px;
    font-size: 14px;
}

.supplier-add-comment {
    border: 1px solid #cbcfd5;
    padding: 60px 20px 20px;
    position: relative;
}

.supplier-add-comment .close {
    width: 15px;
    height: 16px;
    position: absolute;
    top: 22px;
    right: 20px;
    background: url(/img/close.png) no-repeat;
    cursor: pointer;
}

.supplier-comment {
    padding: 30px 20px;
    border-bottom: 1px solid #e5e7ea;
}

.supplier-add-comment:after,
.supplier-comment:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.comment-images {
    float: left;
    width: 150px;
    font-size: 12px;
}

.comment-images:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.column-forum .comment-images .ava {
    margin-bottom: 15px;
    width: 85px;
    height: 85px;
    float: none;
}

.column-forum .comment-images .ava img {
    width: 85px;
    height: 85px;
}

.comment-images .name {
    color: #283f5e;
    display: block;
}

.comment-content {
    display: block;
    margin: 0 0 0 150px;
}

.comment-content .customer-rating {
    display: block;
    margin: 0 0 20px;
}

.comment-content textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #556477;
    border: 1px solid #e5e7ea;
}

.comment-content .comment-bottom-panel {
    text-align: right;
    vertical-align: top;
}

.comment-content .comment-bottom-panel .customer-rating {
    display: inline-block;
    vertical-align: top;
    margin: 4px 0 0;
}

.comment-content .comment-bottom-panel .btn {
    background: none repeat scroll 0 0 #db2a02;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 15px;
    margin: 0 0 0 20px;
    text-decoration: underline;
    vertical-align: top;
}

/* Preview */
h2.title-block-previw {
    font-family: 'gotham_prolight';
    background: #ccc;
    clear: both;
    padding: 8px 20px;
    margin: 0;
}

/* Buttons in the bottom of the page (main panel, Input | Output ) */
.nav-panel {
    font-size: 12px;
    text-align: right;
    padding: 10px 0;
    margin: -20px 0 0;
}

.nav-panel a {
    margin: 0 0 0 5px;
}

/*
| reassignment of classes
+------------------------------*/
.header {
    /* Переопределение main_index.css */
    position: fixed;
}

/*
| modification classes
+------------------------------*/
.ava {
    border: 1px solid #cbcfd5;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}

.ava img {
    border-radius: 100%;
    width: 85px;
    height: 85px;
    vertical-align: top;
}

.ava.ava__small-size img {
    width: 53px;
    height: 53px;
}

.vis-800 {
    display: none;
}

@media all and (min-width: 1500px) {
    .all {
        width: 1460px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 1100px) {
    html,
    body {
        min-width: 0;
    }

    .wrapper {
        min-width: 0;
    }

    .all {
        width: auto;
        margin: 120px 20px 20px;
    }

    div.my-forum-up {
        margin-top: 20px;
    }

    div.my-forum-up h1 {
        font-size: 35px;
    }

    div.my-forum-up h2 {
        font-size: 20px;
    }

    div.column-forum .up.up--column-supplier li:nth-child(1) {
        width: 20%;
    }

    div.column-forum .up.up--column-supplier li:nth-child(2) {
        width: 38%;
    }

    div.column-forum .up.up--column-supplier li:nth-child(3) {
        width: 25%;
    }

    div.column-forum .up.up--column-supplier li:nth-child(4) {
        width: 17%;
    }
    div.column-forum-right {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }

    div.column-forum-right .b-last-themes .block .theme {
        margin-top: 5px;
    }

    div.column-forum-right .b-last-themes .block .date {
        display: block;
        margin: 0;
    }
    div.column-forum {
        margin-right: 0;
    }
    div.column-forum .block .left {
        float: none;
        clear: both;
        width: auto;
        margin: 0;
    }
    div.column-forum .block .left:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        clear: both;
    }
    div.column-forum .block .left .name {
        display: block;
        margin: 0 0 2px 65px;
        padding: 10px 0 0;
    }
    div.column-forum .block .left .date {
        display: block;
        margin-left: 65px;
    }
    div.column-forum .block .right {
        float: none;
        width: auto;
        margin: 0;
        font-size: 12px;
    }
    div.column-forum .block blockquote {
        margin-left: 0;
    }
    div.column-forum .ava {
        float: left;
    }
    .ava img {
        width: 53px;
        height: 53px;
    }
    div.column-forum .row.row--column-supplier .title-theme {
        padding-right: 115px;
        width: 100%;
        float: left;
    }
    div.column-forum .row.row--column-supplier .date {
        float: left;
        margin: 0;
        margin-left: -105px;
        border: none;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .table-box.table-box--column-supplier .table-cell:nth-child(1) {
        width: 20%;
    }
    .table-box.table-box--column-supplier .table-cell:nth-child(2) {
        width: 38%;
    }
    .table-box.table-box--column-supplier .table-cell:nth-child(3) {
        width: 25%;
    }
    .table-box.table-box--column-supplier .table-cell:nth-child(4) {
        width: 17%;
    }
    .table-box--column-supplier h2 {
        font-size: 14px;
    }
    .table-box--column-supplier h2 a {
        font-size: 14px;
    }
}

@media all and (max-width: 1000px) {
    .wrapper.header_active .hide-nav + .all {
        margin-top: 0;
    }
}

@media all and (max-width: 800px) {
    .vis-800 {
        display: inline-block;
    }

    div.column-forum .block .attached-post-files {
        margin-right: 0;
        width: 100%;
    }

    div.column-forum .block .attached-post-files + .link-comment {
        position: static;
    }

    .attached-files-list {
        width: 100%;
        max-width: 100%;
        display: block;
    }

    .attached-files-list li {
        display: block;
        clear: both;
    }

    .attached-files-list li:after {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        clear: both;
    }

    .attached-files-list li div {
        display: block;
    }

    .attached-files-list li div:first-child {
        max-width: 100%;
        width: 100%;
        padding-right: 70px;
        float: left;
    }

    .attached-files-list li div:last-child {
        float: right;
        margin-left: -70px;
    }

    .attached-files-list li div a {
        line-height: 20px;
    }

    .upload-error {
        width: 100%;
    }

    .column-forum-right {
        display: none;
    }

    div.column-forum .up {
        display: none;
    }

    div.column-forum .row.row--column-supplier .title-theme {
        padding-right: 0;
        width: 100%;
        float: none;
    }

    div.column-forum .row.row--column-supplier .date {
        float: none;
        margin: 0;
        border-top: 1px solid #ccc;
        width: 100%;
        text-align: left;
    }

    .table-table {
        display: block;
    }

    .table-row {
        display: block;
        border-bottom: 1px solid #caced5;
        padding: 20px 0;
    }

    .table-cell {
        display: block;
        width: 100%;
        border: none;
        padding: 0 0 20px;
    }

    .table-cell:after {
        content: '';
        display: block;
        width: 100px;
        height: 0;
        clear: both;
    }

    .table-box.table-box--column-supplier .table-cell:nth-child(1),
    .table-box.table-box--column-supplier .table-cell:nth-child(2),
    .table-box.table-box--column-supplier .table-cell:nth-child(3),
    .table-box.table-box--column-supplier .table-cell:nth-child(4) {
        text-align: left;
        width: 100%;
    }

    .table-cell:last-child {
        padding: 0;
    }

    .table-box--column-supplier h2 {
        font-size: 14px;
    }

    .table-box--column-supplier h2 a {
        font-size: 18px;
    }
    div.column-forum .row .title-theme {
        width: auto;
        float: none;
        margin: 0 0 20px;
        padding-right: 0;
    }
        div.column-forum .row .title-theme ul li {
            display: inline-block;
        }
    div.column-forum .row .additional-information{
        width: 100%;
        margin-left: 0;
        float: none;
    }
    div.column-forum .row .date {
        float: none;
        width: auto;
        margin: 0 0 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    div.column-forum .row .people {
        float: none;
        width: auto;
    }
    div.column-forum .row .people .name {
        display: block;
    }
    div.column-forum .row .people .date {
        display: block;
        border: none;;
    }
}

@media all and (max-width: 650px) {
    div.my-forum-up h1 {
        font-size: 25px;
    }

    div.column-forum .row .title-theme > a {
        font-size: 20px;
    }

    div.column-forum .row .title-theme ul li {
        margin-bottom: 10px;
        display: block;
    }

    .comment-images {
        float: none;
        width: 100%;
    }

    .column-forum .comment-images .ava {
        float: left;
        margin-right: 15px;
        height: 53px;
        width: 53px;
    }

    .column-forum .comment-images .ava img {
        width: 53px;
        height: 53px;
    }

    .column-forum .comment-images .name {
        padding: 10px 0 0;
    }

    .comment-content {
        margin-left: 0;
    }

    .comment-content .comment-bottom-panel {
        text-align: center;
    }

    .comment-content .comment-bottom-panel .customer-rating {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 450px) {

}

@media all and (max-width: 400px) {
    .table-box--column-supplier .btn-add-comment {
        display: inline-block;
        position: static;
        margin: 10px 0 0;
        float: left;
        clear: both;
    }
}