@charset "utf-8";
.viewing-page-1 .header .header-top{
    background: #fff;
    border-bottom: 1px solid #bdc1c3;
}

.header--logged .top-nav {
    top: 22px;
    position: absolute;
}

.project-page .page {
	background:url(/img/bg_card.jpg) center center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background: none\0/;

}

.footer {
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 34px;
	z-index: 1;
	border-top: 1px solid #BDC1C3;
}
.footer.vis-800 {
    display: none;
}
.project-page .page__inner {
    position: relative;
    z-index: 1;
}
.project-page .page__number {
    position: absolute;
    bottom: -50px;
    right: 0;
    font-size: 500px;
    line-height: 1;
    color: #E6D0D2;
}

.card {
    margin: -20px 0 0;
}

.card__header {
    position: relative;
    min-height: 100px;
    margin: 0 0 20px;
}

.card__header h2 {
    margin: 10px 0 10px 0;
    color: #c4122f;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}
.card__header h2 small {
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}
.card__header h2 a{
    color: #c4122f;
}
.header,
.project-page,
.card__header h2 {
    font-family: 'gotham_prolight';
}

.table {
    color: #787878;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.4;
    height: 500px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.table tr th {
    padding: 0 20px 20px 0;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    height: 45px;
}
.table tr td {
    padding: 5px 15px 15px 15px;
    vertical-align: top;
    border-left: 1px solid #BDC1C3;
    font-size: 13px;
}
.table-fix-first-column tr th:first-child ,
.table-fix-first-column tr td:first-child {
    max-width: 250px;
    width: 230px;
}
.table tr td:first-child {
    padding-left: 0;
    border: 0;
}

.table a {
    color: #c4122f;
}
.table tr th small {
    display: block;
    font-size: 12px;
    white-space: nowrap;
}
.table tr td small{
    display: block;
    font-size: 14px;
}
.table p {
    margin: 0 0 10px;
}

.table ul {
    margin: 0 0 10px 15px;
    list-style-type: disc;
}
.table ul li {
    margin: 0 0 5px;
}
.table ul ul {
    list-style-type: circle ;
    margin-top: 10px;
}

.table .text-lg {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.1;
}
.ui-nav {
    margin: 7px 50px 0 0;
    font-size: 14px;
    text-align: right;
}
    .ui-nav li {
        margin: 0 0 0 50px;
        display: inline-block;
    }
        .ui-nav li a {
            color: #c4122f;
        }

.ui-icon {
    padding: 0 30px 0 0;
    position: relative;
}

    .ui-icon:after {
        margin: -13px 0 0;
        position: absolute;
        top: 50%;
        right: 0;
        content: "";
        width: 26px;
        height: 26px;
    }

.i-print:after { background-position: 0 0; }
.i-question:after { background-position: -52px 0; }
.i-new:after { background-position: -26px 0; }
.i-blank:after { background-position: -78px 0; }

.i-doc:after { background-position: -104px 0; }
.i-doc-light:after { background-position: -104px -26px; }

.i-print-lg {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(/img/ico_print.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 25px;
}

.icons,
.ui-icon:after {
    background-image: url(/img/sprite_icons.png);
}



@media (min-width: 1001px) and (max-height: 1020px) {
    .card__header{
        min-height: 0;
    }
        .card__header h2{
            font-size: 60px;
        }
    .table tr td{
        padding: 5px 15px 0;
    }
}
@media (max-width: 1300px) and (max-height: 1020px) {
    .card__header{
        min-height: 0;
    }
        .card__header h2{
            font-size: 40px;
        }
        .card__header h2 br{
            display: none;
        }
        .card__header h2 span{
            display: block;
        }
}
@media (min-width: 1001px) and (max-height: 950px) {
    .card__header h2{
        font-size: 40px;
    }
        .card__header h2 br{
            display: none;
        }
        .card__header h2 span{
            display: block;
        }
    .table tr td{
        padding: 5px 15px 0;
    }
}
@media (min-width: 1001px) and (max-height: 900px) {
    .card__header h2{
        font-size: 40px;
    }

    .table{
        font-size: 12px;
    }
    .table tr td{
        font-size: 12px;
    }
}
@media (max-width: 1300px) and (max-height: 900px) {
    .card__header h2{
        font-size: 40px;
    }
    .table{
        font-size: 12px;
        height: 450px;
    }
    .table .text-lg{
        font-size: 16px;
    }
    .table tr td{
        font-size: 12px;
    }
    .table tr td small{
        font-size: 12px;
    }
}
@media (min-width: 1001px) and (max-height: 840px) {
    .card__header h2{
        font-size: 40px;
    }
    .table{
        font-size: 12px;
        height: 450px;
    }
    .table .text-lg{
        font-size: 16px;
    }
    .table tr td{
        font-size: 12px;
    }
    .table tr td small{
        font-size: 12px;
    }
}
@media (max-width: 1200px) and (max-height: 1000px) {
    .card__header h2{
        font-size: 40px;
    }
    .table{
        font-size: 12px;
        height: 450px;
    }
    .table .text-lg{
        font-size: 16px;
    }
    .table tr td{
        font-size: 12px;
    }
    .table tr td small{
        font-size: 12px;
    }
}

@media all and (max-width: 1100px) {
    .wrapper.header_active .page{
        padding-top: 120px;
    }
    .card__header h2{
        font-size: 35px;
    }
    .table{
        font-size: 13px;
    }
    .table tr td{
        font-size: 13px;
        padding-bottom: 15px;
    }
    .footer{
        background: none;
        border: none;
        border-bottom: 1px solid #bdc1c3;
    }
}
@media all and (max-width: 1000px) {
    .wrapper.header_active .page{
        padding-top: 70px;
    }
    .wrapper.header_active .page.project-page-10{
        padding-top: 120px;
    }
}
@media all and (max-width: 800px) {
    .main.project-page{
        background:url(/img/bg_card.jpg) center center no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        min-height: 0 !important;
    }
    .onepage-wrapper{
        height: auto !important;
    }
    .onepage-wrapper:after{
        content: '';
        display: block;
        width: 100%;
        height: 0;
        clear: both;
    }
        .main.project-page section{
            display: none;
        }
    .footer{
        position: relative;
        height: auto;
    }
    .footer .ui-nav{
        text-align: center;
        margin: 10px 20px;
    }
        .footer .ui-nav li{
            display: block;
            margin: 0 0 15px;
        }
        .footer .ui-nav li:last-child{
            margin-bottom: 0;
        }
    .footer.vis-800{
        display: block;
    }
}