.page__content_career--talents {
    text-align: center;
    margin: -200px 35px 0px 0px;
}
.main-nav--talents {
    position: static;
    text-transform: none;
    }
    .main-nav--talents li {
        width: auto;
    }
    .main-nav--talents li a {
        padding: 0 30px;
        height: 50px;
        border: 1px solid #5a6476;
    }
    .main-nav--talents li a:hover {
        border: 1px solid #fff;
    }
.page__ill--talents {
    left: 10%;
    max-width: 100%;
    max-height: 100%;
}
.talents_page .page--1 .next-page {
    background: url('/img/ico_next_dark.png') no-repeat 0 0;
    margin: 0px 0px 0px -15px;
}
.talents_page .page--2 .next-page {
    background: url('/img/ico_next_light.png') no-repeat 0 0;
    margin: 0px 0px 0px -15px;
}
.page__vacancy_top--talents {
    padding: 30px 0 10px;
}
    .page__vacancy_top--talents h2 {
        float: none;
        margin-bottom: 5px;
    }
    .page__vacancy_top--talents h3 {
        font-size: 36px;
        font-weight: normal;
}
.talents_page .page__vacancy_slider .flexslider .slides .li__inner {
    width: 200px;
}
    .talents_page .page__vacancy_slider .flexslider .slides .li__inner a {
        text-align: center;
    }
    .talents_page .page__vacancy_slider .flexslider .slides .vacansy_text {
        min-height: 52px;
        color: #db2a02;
    }
    .talents_page .page__vacancy_slider .flexslider .slides .vacancy_name {
        color: #db2a02;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    .talents_page .page__vacancy_slider .flexslider .slides .images {
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,1);
        box-shadow: 0px 0px 1px rgba(0,0,0,1);
    }
    .talents_page .page__vacancy_slider .flexslider .slides .li__inner:hover .images {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .talents_page .page__vacancy_slider .flexslider .slides img {
        width: 100%;
        border-radius: 100%;
        max-width: 184px;
        max-height: 184px;
    }
    .talents_page .btn.btn--career {
        background: #db2a02;
        max-width: 164px;
        width: 90%;
    }
        .talents_page .btn.btn--career span,
        .talents_page .btn.btn--career a {
            padding: 9px 0;
            border: 1px solid #db2a02
        }
.talents_page .page__vacancy_slider .flex-control-nav {
    bottom: -100px;
}
.talents_vacancy .talents_vacancy__title {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
.talents_vacancy .talents_vacancy__title .images {
    width: 100%;
    border-radius: 100%;
    border: 1px solid #727988;
    background: #FFF;
    margin-bottom: 20px;
    padding: 7px;
}
.talents_vacancy .talents_vacancy__title .images img {
    width: 100%;
    border-radius: 100%;
    max-width: 184px;
    max-height: 184px;
    vertical-align: top;
}
.talents_vacancy .talents_vacancy__title .vacancy_name {
    color: #db2a02;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}
.talents_vacancy .talents_vacancy__title .btn.btn--career:hover {
    color: #db2a02;
    background: #fff;
}
.talents_vacancy .talents_vacancy__info {
    font-size: 14px;
    padding-bottom: 20px;
}
    .talents_vacancy .talents_vacancy__info:after {
        content: '';
        display: table;
        clear: both;
    }
    .talents_vacancy .talents_vacancy__info h4 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .talents_vacancy .talents_vacancy__info ul {
        margin: 20px 0;
    }
    
/* ------------------------------------------------- */
/* Slider */
/* ------------------------------------------------- */

.flexslider.talents_slider {
    margin: 0px 0px 40px;
    background: transparent;
    border: 0;
    position: relative;
    border-radius: 0;
    box-shadow: none;
}
.flexslider.talents_slider h4 {
    text-align: left;
}
.flexslider.talents_slider .slides li {
    width: 100%;
}
.flexslider.talents_slider .flex-control-nav {
    bottom: -20px;
}
.flexslider.talents_slider .flex-control-paging li a {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #697181;
    box-shadow: none;
}
.flexslider.talents_slider .flex-control-paging li a.flex-active {
    background: #697181;
    cursor: default;
}
.flexslider.talents_slider .flex-direction-nav a {
    opacity: 1;
    background: url('/img/sprite_flexslider_dark.png');
    width: 22px;
    height: 31px;
    text-indent: -9999px;
    text-align: left;
}
.flexslider.talents_slider .flex-direction-nav .flex-next {
    background-position: -5px -5px;
}
.flexslider.talents_slider .flex-direction-nav .flex-prev {
    background-position: -35px -5px;
}
.flexslider.talents_slider:hover .flex-prev {
    opacity: 1;
    left: -50px;
}
.flexslider.talents_slider:hover .flex-next {
    opacity: 1;
    right: -50px;
}
.flexslider.talents_slider .flex-direction-nav a:before {
    background: red;
    display: none;
}

/* ------------------------------------------------- */
/* Form */
/* ------------------------------------------------- */
.talents_vacancy_form {
    padding-bottom: 20px;
}
    .talents_vacancy_form:after {
        content: '';
        display: table;
        clear: both;
    }
    .talents_vacancy_form .row {
        margin-bottom: 18px;
    }
    .talents_vacancy_form .row.row--vacancy-margin {
        margin-bottom: 30px;
    }
/* ------------------------------------------------- */
/* Form Title */
/* ------------------------------------------------- */
.talents_vacancy_form__title {
    margin: 0;
    padding: 0;
    color: #fe2601;
    font: 300 30px/52px 'gotham_prolight', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
}
/* ------------------------------------------------- */
/* Bottom-panel */
/* ------------------------------------------------- */
.talents_vacancy_form_bottom-panel {
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}
    .talents_vacancy_form_bottom-panel__left {
        width: calc(100% - 210px);
        display: inline-block;
        white-space: normal;
        vertical-align: middle;

        padding-right: 20px;
        font: 300 14px 'gotham_prolight', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }
        .talents_vacancy_form_bottom-panel__left:after {
            content: '';
            display: table;
            clear: both;
        }
        .talents_vacancy_form_bottom-panel__checkbox {
            width: 30px;
            vertical-align: top;
            float: left;
        }
        .talents_vacancy_form_bottom-panel__left input[type='checkbox'] {
            cursor: pointer;
            margin-top: 4px;
        }
        .talents_vacancy_form_bottom-panel__left label {
            display: block;
            vertical-align: top;
            margin-left: 30px;
            cursor: pointer;
        }
    .talents_vacancy_form_bottom-panel__right {
        width: 210px;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
    }
/* ------------------------------------------------- */
/* input--vacancy */
/* ------------------------------------------------- */
.input--vacancy {
    width: 100%;
    height: 52px;
    border: 1px solid #D2D2D2;
    background: #fff;
    padding: 16px;
    color: #5a6476;
    font: 300 18px 'gotham_prolight', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
/* ------------------------------------------------- */
/* Button */
/* ------------------------------------------------- */
.btn {

}
.btn--vacancy {
    width: 100%;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50px;
    font-size: 22px;
    color: #fff;
    font: 300 24px 'gotham_prolight', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
    .btn--vacancy:hover {
        background-color: #fe2601;
    }
    .btn--vacancy:disabled,
    .btn--vacancy:disabled:hover {
        background-color: #db2a02;
        opacity: .8;
    }
/* ------------------------------------------------- */
/* SELECT */
/* ------------------------------------------------- */
.talents_vacancy_form .jq-selectbox.js-form-style--select_square {
    width: 100%;
    background: #fff;
}
.talents_vacancy_form .jq-selectbox.js-form-style--select_square .jq-selectbox__select {
    padding-left: 16px;
}
.talents_vacancy_form .jq-selectbox.js-form-style--select_square .jq-selectbox__select-text {
    font-size: 18px;
}
/* ------------------------------------------------- */
/* FILE */
/* ------------------------------------------------- */
.talents_vacancy_form .js-form-style--resume.jq-file:hover .jq-file__browse {
    background: none;
}
/* ------------------------------------------------- */

@media all and (max-width: 1350px) {
    .page__content_career--talents {
        max-width: 620px;
    }
    .flexslider.talents_slider h4 {
        font-size: 22px;
    }
    .page__ill--talents {
        max-height: 95%;
    }
}
@media all and (max-width: 1250px) {
    .page__content_career--talents {
        left: 40%;
    }
    .page__ill--talents {
        max-height: 90%;
        left: 8%;
    }
    .flexslider.talents_slider h4 {
        font-size: 20px;
    }
}
@media all and (max-width: 1200px) {
    .page__content_career--talents {
        max-width: 550px;
        left: 43%;
    }
    .page__vacancy_top--talents h3 {
        font-size: 32px;
    }
    .talents_page .page__vacancy_slider .flexslider .slides .li__inner {
        width: 180px;
    }
    .flexslider.talents_slider h4 {
        font-size: 18px;
    }
}
@media all and (max-width: 1100px) {
    .page__content_career--talents {
        max-width: 500px;
    }
    .page__ill--talents {
        max-height: 80%;
    }
    .page__vacancy_top--talents h2 {
        line-height: 1;
    }
    .page__vacancy_top--talents h3 {
        font-size: 30px;
    }
    .talents_page .page__vacancy_slider .flexslider .slides .li__inner {
        width: 160px;
    }
    .talents_page .next-page {
        display: none;
    }
}
@media (max-width: 1050px) {
    .talents_vacancy_form .row {

    }

    .talents_vacancy_form .row .col-1,
    .talents_vacancy_form .row .col-2,
    .talents_vacancy_form .row .col-3,
    .talents_vacancy_form .row .col-4,
    .talents_vacancy_form .row .col-5,
    .talents_vacancy_form .row .col-6,
    .talents_vacancy_form .row .col-7,
    .talents_vacancy_form .row .col-8 {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 1000px) {
    .page__content_career--talents {
        left: 40%;
    }
    .page__ill--talents {
        left: 5%;
    }
    .talents_page .btn.btn--career {
        font-size: 16px;
    }
    .flexslider.talents_slider h4 {
        font-size: 16px;
    }
    .talents_vacancy_form_bottom-panel {
        white-space: normal;
    }
        .talents_vacancy_form_bottom-panel__left {
            margin-bottom: 20px;
        }
        .talents_vacancy_form_bottom-panel__left,
        .talents_vacancy_form_bottom-panel__right {
            width: 100%;
            display: block;
        }
}
@media all and (max-width: 850px) {
    .page__content_career--talents {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
    }
    .page__ill--talents {
        display: none ;
    }
}
@media all and (max-width: 800px) {
    .page__content_career--talents {
        max-width: 685px;
        padding: 0 50px;
    }
    .page__content_career--talents h3 {
        font-size: 30px;
    }
    .flexslider.talents_slider h4 {
        font-size: 16px;
    }
    .page__vacancy_top--talents h2 {
        font-size: 40px;
        margin-bottom: 0;
    }
    .page__vacancy_top--talents h3 {
        font-size: 28px;
    }
    .talents_page .flex-control-nav {
        bottom: -50px;
    }
    .col-3.talents_vacancy-col {
        margin-bottom: 30px;
    }
    .talents_vacancy-col {
        width: 100%;
        display: block;
        float: none;
    }
}
@media all and (max-width: 700px) {
    .page__content_career--talents {
        margin: 0;
    }
    .flexslider.talents_slider h4 {
        font-size: 15px;
    }
    .main-nav--talents li a {
        padding: 0 20px;
        height: 40px;
    }
    .page__vacancy_top--talents h2 {
        font-size: 36px;
    }
    .page__vacancy_top--talents h3 {
        font-size: 24px;
    }
}
@media all and (max-width: 650px) {
    .flexslider.talents_slider h4 {
        text-align: justify;
    }
    .main-nav--talents {
        font-size: 15px !important;
    }
    .flexslider.talents_slider:hover .flex-prev {
        left: -40px !important;
    }
    .flexslider.talents_slider:hover .flex-next {
        right: -40px !important;
    }
    .flexslider.talents_slider .flex-prev {
        left: -40px !important;
    }
    .flexslider.talents_slider .flex-next {
        right: -40px !important;
    }
    .flexslider.talents_slider .flex-control-nav {
        display: block;
    }
}
@media all and (max-width: 600px) {
    .page__vacancy_top--talents h2 {
        font-size: 30px;
    }
    .page__vacancy_top--talents h3 {
        font-size: 22px;
    }
}
@media all and (max-width: 500px) {
    .page__content_career--talents h3 {
        font-size: 25px;
    }
    .main-nav--talents li a {
        margin-bottom: 10px;
    }
    .page__vacancy_top--talents h2 {
        font-size: 25px;
    }
    .page__vacancy_top--talents h3 {
        font-size: 18px;
    }
    .talents_vacancy_form__title {
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}
@media all and (max-width: 400px) {
    .page__content_career--talents h3 {
        font-size: 20px;
    }
    .page__vacancy_top--talents h2 {
        font-size: 19px;
    }
    .page__vacancy_top--talents h3 {
        font-size: 16px;
    }
}

