<div class="news-modal">
    <div class="news-modal__item">
        <div class="news-modal__item__media">
            <img src="/img/content/news_img.png" alt=""/>
        </div>
        <h5>Красноярск: </h5>
        <h4><a href="#">Поздравляем команду «Be my friend» г.Красноярск с получение второго гранта за помощь детям из детского дома.</a></h4>

        1

        <div class="news-modal__item__content">
            <p>Поздравляем команду «Be my friend» г.Красноярск с получение второго гранта за помощь детям из детского дома. Это постоянно действующая команда, которая в течение года активно реализует различные мероприятия для ребят, постепенно становясь для них друзьями и наставниками. Их последнее мероприятие было посвящено рассказу о различных профессиях, а также волонтеры провели экскурсию по ресторану KFC для ребят, дав им возможность попробовать работу руками.</p>

        </div>
        <div class="meta-icon">
            <a href="" class="i-photo">155</a>
            <a href="" class="i-sharing">1550</a>
            <a href="" class="i-like">2553</a>
        </div>
    </div>
</div><!-- /.news-modal -->